*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2%;
    justify-content: center;
    overflow: hidden;
}

.container {
    height: 91vh;
    width: 80%;
    
}

.LeftSide
{
    width: 30%;
    float:left;
    border: groove;
    height: 90vh;
    background-color: rgb(147, 181, 233);
    color:white;
}

.L-header
{
    text-align: center;
    margin-bottom: 30px;
}
.groups
{
    margin-top: 30px;
    text-align: center;
}


.RightSide
{
    width: 60%;
    float:left;
    border: groove;
    
    
    height: 90vh;
}
#grp-header
{
    margin-top: 0px;
    background-color: rgb(147, 181, 233);
    height: 40px;
    margin-bottom: 50px;
    color: white;
    
}
#participants
{
    float: right;
    background-color: rgb(147, 181, 233);
    height: 40px;
    margin-right: 5px;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;    

    
}
#name
{
    text-transform: uppercase;
   text-align: center;
}
#message_container
{
    height: 76vh;
    overflow: auto;
    
}

.image
{
    width: 300px;
    margin-bottom: 10px;
    margin-left: 5px;
   
    
}

#message_input
{
    width:60%;
    height: 40px;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
}
.message
{
    border-radius: 10px;
  background: rgb(147, 181, 233);
  padding: 20px;
  width: 40%;
  height: 90px;
  margin-left: 5px;
  margin-bottom: 20px;
}
.grp1
{
    width:90%;
    margin-top: 5px;
    border: none;

}

